.body {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}
/* HEADER */
header {
  background-color: rgb(13, 139, 223);
  margin: 3px 5px 20px 5px;
  height: 170px;
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0px;
}
ul li {
  display: inline-block;
}
.upper_container {
  max-width: 800px;
  width: 90%;
  margin: auto;
  display: flex;
}

.upper li a {
  text-decoration: none;
  font-size: 13px;
  border-right: 1px solid white;
  margin: 0;
  padding: 0px 5px;
}
.upper li:last-child a {
  border: none;
}
.below_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
  color: aliceblue;
}
.logo {
  font-size: 30px;
  align-items: center;
  color: aliceblue;
}
.below li a {
  margin: 0px 5px;
  font-size: 13px;
  font-weight: 500;
}
.menu_mob_button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(5, 99, 161);
  border-radius: 10px;
  display: none;
  padding: 15px;
  width: 30px;
  height: 30px;
}
.menu_mob_button .bar {
  height: 5px;
  width: 100%;

  background-color: white;
  border-radius: 15px;
}
/* SUB MENU */

.sub_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 120px;
  font-weight: 600;
  background-color: rgb(43, 43, 43);
  text-align: left;
  display: none;
}
.sub_menu li {
  padding: 5px;
  color: aliceblue;
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.3s;
}

.sub_menu li:hover {
  background-color: aliceblue;
  color: rgb(43, 43, 43);
}
ul li:hover .sub_menu {
  display: flex;
}

/* MAIN */
.main_container {
  display: flex;
}
.welcome {
  width: 220px;
  background-color: rgb(13, 139, 223);
  color: aliceblue;
  padding: 0px 15px 15px;
}
.welcome_text {
  font-size: 12px;
  padding-bottom: 10px;
}
.with_border::after {
  content: "";
  width: 40px;
  height: 5px;
  display: block;
  margin-top: 15px;
  background: aliceblue;
}
.learnmore {
  background-color: rgb(46, 129, 161);
  border: 2px solid white;
  color: aliceblue;
  font-size: 13px;
  display: block;
  float: right;
  margin-top: 50px;
  padding: 10px 20px;
  font-weight: 800;
}
.ux_container {
  width: 500px;
  margin-left: 40px;
  background-color: rgba(196, 196, 196, 0.658);
}
.ux_design {
  font-size: 12px;
  margin: 20px;
}
.design {
  margin: 0 15px 0 15px;
}
.design h3 {
  font-size: 17px;
  margin-left: 20px;
}
img {
  width: 100%;
}
/* SECOND CONTAINER */
.sec_cont {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  display: flex;
  justify-content: center;
}
.offers_photo {
  width: 60%;
  margin-left: 30px;
}
.offers_photo img {
  width: 100%;
  height: 100%;
}

.product_text {
  margin-bottom: 0px;
}
.products_offers {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}
.offers_text {
  margin-top: 5px;
  font-size: 14px;
}
.offer {
  position: relative;
  height: 45%;
  margin-bottom: 25px;
}
.offer_title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(158, 158, 158, 0.63);
  padding: 15px;
  font-weight: 700;
}
.offer_title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(158, 158, 158, 0.63);
  padding: 15px;
  font-weight: 700;
}
/* CONTACT */
.contact_container {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  display: flex;
  justify-content: space-around;
}
.contact {
  width: 500px;
}
.contact h3::after {
  background: black;
}
.contact p {
  font-size: 13px;
}
/* FORM STYLE */
.form {
  width: 170px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  margin-left: 30px;
}

.form button {
  width: 65%;
  margin-top: 15px;
  color: rgb(13, 139, 223);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(13, 139, 223);
  padding: 7px;
  font-weight: 800;
}
.form input {
  border: 2px solid rgba(196, 196, 196, 0.658);
  padding: 5px;
}
.form textarea {
  border: 2px solid rgba(196, 196, 196, 0.658);
  height: 150px;
}
.form label {
  margin: 10px 0px;
  font-weight: 600;
  font-size: 15px;
}
/* FOOTER */
footer {
  background-color: rgb(43, 43, 43);
  color: aliceblue;
  margin: 3px 5px;
  padding: 15px 0px;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  width: 90%;
  margin: auto;
}
.footer_text {
  font-size: 10px;
  color: rgb(158, 157, 157);
  width: 300px;
  margin: 0px;
}
.below_footer li {
  padding: 0px;
}
.below_footer li a {
  font-size: 13px;
  font-weight: 500;
  margin: 0px 5px;
}
.copyright {
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  max-width: 800px;
  width: 90%;
  margin: auto;
  font-size: 11px;
}
.footer_container nav {
  margin-left: 60px;
}
.below_footer {
  display: flex;
  margin: 0 -10px;
  width: calc(100% + 20px);
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 800px) {
  .upper_container {
    display: none;
  }

  header {
    height: 100px;
    display: flex;
    align-items: center;
  }
  .below_container ul {
    display: none;
  }
  .below_container {
    align-items: flex-start;
  }
  .menu_mob_button {
    display: flex;
  }
  .logo {
    font-size: 45px;
  }
  .main_container,
  .products_offers,
  .sec_cont,
  .contact_container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
  }
  .welcome,
  .ux_container,
  .contact,
  .offers_photo {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .ux_design {
    font-size: 22px;
  }
  .with_border,
  .welcome_text {
    margin: 25px;
    font-size: 22px;
  }
  .welcome .with_border {
    font-size: 40px;
    padding: 10px;
  }
  .with_border::after {
    width: 70px;
    height: 10px;
  }
  .product_text {
    font-size: 36px;
  }
  .offers_text {
    font-size: 19px;
    font-weight: 800;
  }
  .offer_title {
    bottom: 5;
  }
  .contact .with_border {
    margin: 0;
    font-size: 32px;
  }
  .contact .with_border:after {
    width: 50px;
  }
  .contact p {
    font-size: 22px;
  }
  .design {
    margin: 0;
  }
  .design h3 {
    font-size: 36px;
    margin: 25px 0px 20px 20px;
  }
  .learnmore {
    margin: 0px 40px 30px 0px;
  }
  .weather {
    margin-bottom: 15px;
  }
  .form {
    width: 100%;
    padding: 0px;
    padding-bottom: 50px;
    margin: 0px;
  }
  .form button {
    width: 100%;
    font-size: 16px;
  }
  .form label {
    font-size: 17px;
    margin: 15px 0;
  }
  .form .form_email {
    border: 2px solid black;
  }

  .form input {
    padding: 10px;
  }
  .footer_text,
  footer nav {
    display: none;
  }
  .copyright {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-bottom: 10px;
  }
}
